	<div class="pure-g">
	    <div class="pure-u-1" id="intro-container">
	    	<h1 class="jumbo-box" id="user-location"><span>Welcome to the BBC Web listing</span></h1>
	    	<!-- <h1 class="jumbo-box" id="user-location"><span>Lorem ipsum Dolor Sit Amet Lorem Ipsum</span></h1> -->
	    	<p></p>
	    	<a class="btn" href="#/listing">View Listings</a>
	    </div>
	</div>
	<div class="featured-content">		
		
		<!-- <h2>BBC Test App</h2> -->

		<!-- could have hover effect on these thumbnails to show an ovrlay with the name of the plugin -->
		<!-- http://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/ -->


	</div>